@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth;
}

body {
	@apply overflow-x-clip bg-black font-body text-base font-medium text-white sm:text-lg;
}

/* 
 * Nice line movement - Bruno Almeida
 * https://gist.github.com/CodeMyUI/8bc31725c1f673a4349bc5e673bbc33f)
 */
.line-hover {
	@apply relative;

	&:hover {
		&::after {
			@apply left-0 w-full;
		}
	}

	&::after {
		@apply absolute right-0 top-full w-0 bg-white;
		content: '';
		height: 2px;
		transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	}
}

/* Fade */

.conditional-fade {
	mask-image: linear-gradient(90deg, #000 50%, transparent);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.conditional-fade {
		mask-image: none;
	}
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	@apply rounded-2xl bg-neutral-950;
}

::-webkit-scrollbar-thumb {
	@apply rounded-2xl bg-neutral-900;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-white;
}
